
        <div class="grid_10">
            <div class="box round first grid">
                <h2>Category List</h2>
                <div class="block">
                    <table class="data display datatable" id="example">
					<thead>
						<tr>
							<th><h3>Category Name</h3></th>

						</tr>
					</thead>
					<tbody>
						<tr align="center" class="odd gradeX" ng-repeat="category in Categories">
							<td>{{category.category}}</td>

                        </tr>

					</tbody>
				</table>
               </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
