<div class="grid_12 header-repeat">
    <div id="branding">
        <div class="floatleft logo">
            <img src="../img/profile.jpg" alt="Logo" />
        </div>
        <div class="floatleft middle">
            <h1>Admin Master</h1>
            <p>www.helloriad.com</p>
        </div>
        <div class="floatright">
            <div class="floatleft">
                <img src="img/img-profile.jpg" alt="Profile Pic" /></div>
            <div class="floatleft marginleft10">
                <ul class="inline-ul floatleft">
                    <li>Hello Admin</li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class="clear">
</div>

<div class="grid_12">
    <ul class="nav main">
        <li class="ic-dashboard"><a ui-sref="dashboard"><span>Dashboard</span></a> </li>
        <li class="ic-form-style"><a ><span>User Profile</span></a></li>
        <li class="ic-typography"><a ui-sref="changePassword"><span>Change Password</span></a></li>
        <li class="ic-grid-tables"><a ui-sref="inbox"><span>Inbox</span></a></li>
        <li class="ic-charts"><a ui-sref="postList"><span>Visit Website</span></a></li>
    </ul>
</div>

<div class="clear">
</div>

