<div class="grid_2">
    <div class="box sidemenu">
        <div class="block" id="section-menu">
            <ul class="section menu">
                <li><a class="menuitem">Site Option</a>
                    <ul class="submenu">
                        <li><a ui-sref="titleSlogan">Title & Slogan</a></li>
                        <li><a ui-sref="social">Social Media</a></li>
                        <li><a ui-sref="copyRight">Copyright</a></li>

                    </ul>
                </li>

                <li><a class="menuitem">Update Pages</a>
                    <ul class="submenu">
                        <li><a>About Us</a></li>
                        <li><a>Contact Us</a></li>
                    </ul>
                </li>
                <li><a class="menuitem">Category Option</a>
                    <ul class="submenu">
                        <li><a ui-sref="addCat" >Add Category</a> </li>
                        <li><a ui-sref="catList">Category List</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">Post Option</a>
                    <ul class="submenu">
                        <li><a ui-sref="addPost">Add Post</a> </li>
                        <li><a ui-sref="postList">Post List</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>